/* 
Palette color codes :from
http://colorschemedesigner.com/#4y11Tw0w0w0w0
*/
$primary: #5c0dac;
$secondary: #542881;
$ternairy: #3a0470;
$quadairy: #8b42d6;
$quintairy: #9f69d6;

/* Specific colors */
$gold: #ffd700;
$silver: #c0c0c0;
$bronze: #9c6963;

/* Sizes */
$border-size: 0px;
$body-to-footer-distance: 50px;
$default-margin: 3px;
$default-padding: 0px;
$footnote-size: 0.7em;
$body-width: 35%;

@mixin bare-list {
  li {
    display: block; 
    list-style-type: none;
  }
}

@mixin right-small($size) {
  text-align: right; 
  font-size: $size;
  margin-top: $body-to-footer-distance;
}

@mixin centrate {
  margin-left: auto;
  margin-right: auto;
}
@media screen {
  html {
    margin: $default-margin;
    padding: $default-padding;
    background-color: #ffffff;
    color: #000000;
    font-family: arial, sans-serif;
    border: $border-size solid black;
    word-break: keep-words;
  }
  img {
    border: $border-size;
  }
  div.by_line {
    font-size: 70%;
    padding-left: 1em;
  }
  div.comment_count {
    font-size: 0.5em;
    padding-left: 1em;
    margin-bottom: 0.3ex;
  }
  div.highlight {
    overflow: auto;
    border: 1px solid $quadairy;
    padding: 5px;
    margin: 5px;
  }
  p { 
    margin-top: $default-margin; 
    text-align: left;
  }
  h1 { 
    font-size: 2.5em;
    color: $primary;
    margin-bottom: 3px;
  }
  h2,h3,h4 { 
    color: $ternairy;
    margin: $default-margin;  
  }
  h2 {
    font-size: 1.8em;  
  }
  h3 { 
    font-size: 1.3em;
  }
  h4 { 
    font-size: 1.1em;
  }
  pre { 
    font-family: "Lucida Console","Courier New", monospace;
  }
  /* specific divs */
  #banner {
    @include centrate;
    background-color: $primary;
    padding: 10px;
    width: $body-width;
    text-align: center;
    border-style: double;
    border-width: medium;
    border-color: $quadairy;
    h1, h2 {
      font-weight: bold; 
      font-family: Tahoma, sans-serif;
      color: $quintairy;
    }
  }
  #container {
    @include centrate;
    width: $body-width;
    padding: 5px;
  }
  .date { 
    @include right-small(0.8em);
  }
  div.postpreviewseparator {
    border-style: solid;
    border-width: 0 0 1px 0;
    border-bottom-color: gray;
    margin-bottom: 2em; 
  }
  .footer { 
    @include right-small($footnote-size);
    border-style: solid;
    border-width: 1px 0 0 0;
    border-top-color: gray;
    p {
      margin: $default-margin;
      padding: $default-padding;
      text-align: right;
      line-height: 1;
    }
  }
  .footnotes {
    font-size: $footnote-size;
    p,ol,li {
      margin: $default-margin;
      padding: $default-padding;
    }
  }
  #linkList {
    $interspacing: 5px;

    position: absolute;
    top: 250px;
    right: 5px;
    font-size: 80%;
    ul { 
      margin: $default-margin; 
      padding: $default-padding;
    }
    @include bare-list;
    img { 
      padding-top: $interspacing; 
      margin-bottom: $interspacing;
    }
  }
  .gold {
    color: $gold;
  }
  .silver {
    color: $silver;
  }
  .bronze {
    color: $bronze;
  }
  .references {
    @include bare-list
  }
}
@media print {
  #linkList, #banner, #disqus_thread, .footer { 
    display: none;
  }
  p {
    text-align: justify;
  }
  a {
    color: black;
    &:link { 
      text-decoration: none; 
    }
    &:visited { 
      text-decoration: none; 
    }
    &:hover { 
      text-decoration: none; 
    }  
    &:active { 
      text-decoration: none; 
    }
  }
}








