:plain
  ---
  layout: default
  title: Move along, nothing to see here
  ---
{% for post in site.posts %}
%h3
  %a{ :href => "{{ post.url }}"}{{ post.title }}
{{ post.content | truncatewords: 42 }}
%a{ :href => "{{ post.url }}"}>
  ! Read more#{"&raquo;"}
{% unless forloop.last %}
%div.postpreviewseparator
{% endunless %}
{% endfor %}
