<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/default.css" />
    <body>
    <div id="container">
        {{ content }}  
        <div class="footer">
            <hr>
            Last updated on : {{ site.time | date_to_xmlshema  }}
        </div>
    </div>
    <div id="linkList">
        <a href="/"><h3>Home</h3></a>
        <h3>Posts</h3>
        <ul>
            {% for post in site.posts limit: 5 %}
                <li><a href="{{ post.url }}">{{ post.title | truncate: 120 }}</a></li>
            {% endfor %}
        </ul>
        <h3>Profiles</h3>
        <ul>
            <li>
                  <a href="http://stackexchange.com">
<img src="http://stackflair.somee.com/Generate/dc8c294c-3f8f-4465-851d-a4b380defb73.png" width="208" height="58" alt="combined Stack Exchange profile for Bas Bossink" title="combined Stack Exchange profiles for Bas Bossink">
</a>
            </li>
            <li>
                <a href="http://nl.linkedin.com/in/basbossink">
                    <img src="http://www.linkedin.com/img/webpromo/btn_myprofile_160x33.gif" width="160" height="33" 
                        border="0" alt="View Bas Bossink's profile on LinkedIn">
                </a>
            </li>
            <li>
                <a href="http://www.twitter.com/basbossink">
                    <img src="http://twitter-badges.s3.amazonaws.com/follow_me-a.png" alt="Follow basbossink on Twitter"/>
                </a>
            </li>
            <li>
                <a href="http://nl-nl.facebook.com/people/Bas-Bossink/1820090791">
                    <img src="/images/facebook.png" width="79" height="23" alt="follow Bas Bossink on Facebook" />
                </a>
            </li>
            <li>
                <a href="http://friendfeed.com/basbossink">
                    <img src="http://friendfeed.com/static/images/chiclet.png" 
                    alt="Subscribe to me on FriendFeed" title="Subscribe to me on FriendFeed"/>
                </a>
            </li>
        </ul>
        <h3>Projects</h3>
        <ul>
            <li><a href="http://nl.gitready.com">gitready (dutch translation)</a></li>
            <li><a href="http://basbossink.github.com/skelhs/">skelhs</a></li>
            <li><a href="http://github.com/basbossink/hspec">hspec</a></li>
            <li><a href="http://github.com/basbossink/presentations">presentations</a></li>
            <li><a href="http://github.com/basbossink/dot-files">dot-files</a></li>
        </ul>
    </div>
</body>
</html>
