!!! 5
:plain
  {% assign lang = 'en' %}{% capture timestamp %}{{site.time | date: "%a, %d %b %y %H:%M:%S +0100" }}{% endcapture %}
%html
  %head
    %meta{ "http-equiv" => "Content-Type", :content => "text/html; charset=utf-8" }
    %meta{ "http-equiv" => "Date", :content => "{{ timestamp }}" }
    %meta{ "http-equiv" => "Last-Modified", :content => "{{ timestamp }}" }
    %meta{ "http-equiv" => "Access-Control-Allow-Origin", :content => "*" }
    %meta{ :name => "description", :content => "A personal blog about programming." }
    %meta{ :name => "author", :content => "Bas Bossink" }
    {% if page.categories %}
    %meta{ :name => "keywords", :content => '{{ page.categories | join: "," }}' }>
    {% endif %}
    {% if page.keywords %}
    %meta{ :name => "keywords", :content => '{{ page.keywords | join: "," }}' }>
    {% endif %}
    %title {{ page.title }}
    %link{ :rel => "stylesheet", :type => "text/css", :href => "/css/combined.css"}
    %script{ :type => "text/javascript", :src => "/js/shCore.js"}
    %script{ :type => "text/javascript", :src => "/js/shBrushPowerShell.js"}
    %script{ :type => "text/javascript", :src => "/js/shBrushCSharp.js"}
    %script{ :type => "text/javascript", :src => "/js/shBrushRuby.js"}
    %script{ :type => "text/javascript", :src => "/js/shBrushPlain.js"}
    %link{ :rel => "alternate", :type => "application/atom+xml",
           :href => "/atom.xml", :title => "Sitewide ATOM Feed"}
    :javascript
      SyntaxHighlighter.all();
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-20785819-1']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  %body
    %header
      %div#banner
        %h1 Move along, nothing to see here
        %h2 Ramblings about my programming escapades.
    %aside
      %nav
        %div#linkList
          %a{ :href => "/atom.xml"}
            %img{ :alt => "subcribe",
            :src => "/images/feed-icon.png",
            :height => "16",
            :width => "16" }
          %h3
            %a{ :href => "/"} Home
          %h3 Posts
          %ul
            {% for post in site.posts limit: 10  %}
            %li>
              %a{ :href => "{{ post.url }}" }>
                {{ post.title }}
            {% endfor %}
          %h3
            %a{ :id => 'profiles' }
              Profiles
          %ul
            %li
              %a{ :href => "https://stackoverflow.com/users/74198/bas-bossink"}
                %img{ :src => "https://stackoverflow.com/users/flair/74198.png?theme=light"}
            %li
              %a{ :href => "https://github.com/basbossink" }
                Github
            %li
              %a{ :href => "https://www.twitter.com/basbossink"}
                Twitter
            %li
              %a{ :href => "https://nl.linkedin.com/in/basbossink"}
                LinkedIn
            %li
              %a{ :href => "https://nl-nl.facebook.com/people/Bas-Bossink/1820090791"}
                Facebook
          %h3 Projects
          %ul
            - [[ "https://stand-up-notes.org", "sun"],
              [ "https://basbossink.github.io/presentations/", "presentations"],
               [ "https://github.com/basbossink/basbossink.chocolatey.utilities", "chocolatey packages"]].each do |ref,txt|
              %li
                %a{ :href => "#{ref}"}#{txt}
    %div#container
      {{ content }}
    %footer
      %div.footer
        %p
          Hosted by
          %a{ :href => "https://github.com/basbossink/basbossink.github.com/"} GitHub
          and powered by&#32;
          %a{ :href => "https://jekyllrb.com/"}> Jekyll
          ,&#32;
          %a{ :href => "http://haml.info/"} Haml
          &amp;&#32;
          %a{ :href => "https://sass-lang.com/"}> Sass
          \.
        %p
          This work is licensed under the&#32;
          %a{ :rel => "license", :href => "https://creativecommons.org/licenses/by/3.0/nl/"}>
            Creative Commons Attribution 3.0 Netherlands License
          \.
          Copyright &copy; {{ site.time | date: "%Y" }} Bas Bossink
        %p
          Last updated on: {{ site.time | date_to_xmlschema }}
